.hoursRegisterSheet {
  border-radius: 25px;
  background-color: rgb(61, 66, 71);
  position: fixed;
  left: 15vw;
  top: 45vh;
  width: 80vw;
  height: 50vh;
  color: #99aab5;
  padding-left: 3vw;
}


/* .hoursRegisterSheetContent0 {
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 0vw;
  height: 0vh;      
  background-color: red;
} */

.hoursRegisterSheetContentSick {
  position: relative;
  top: 0vh;
  left: 0vw;
  float: left;
  width: 30vw;
  height: 20vh;     
  /* background-color: chartreuse; */
}

.hoursRegisterSheetContentSick td {
width: 18vw;
height: 5vh;
}

.hoursRegisterSheetContentWork {
  position: relative;
  top: 0vh;
  left: 0w;
  float: left;
  width: 0vw;
  height: 20vh;  
  /* background-color: blue;  */

}

.hoursRegisterSheetContentWork td{
/* border: red solid 1px; */
height: 5vh;
}
.button {
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  border-radius: 25px;
  background-color: rgb(61, 61, 61);
  color: #99aab5;
  width: 25vw;
  height: 8vh;
}

.button2 {
  position:absolute;
  top: 12vh;  
  right: 1vw;
  border-radius: 25px;
  background-color: rgb(61, 61, 61);
  color: #99aab5;
  width: 25vw;
  height: 8vh;
}

/* table, */
/* tr */  
th,
td {
  border-collapse: collapse;
  color: #99aab5;
  padding: 1px;
  font-size: 1vw;
}
.style1 {
  width: 15vw;
  float: left;
  clear: left;
}
.style2 {
  min-width: 9vw;
  text-align: center;
  float: left;
}
.style3 {
  width: 15vw; 
  clear: left;
}

.todaysHoursClass {
  position: fixed;
  width: auto;
  height: 32vh;
  top: 5vh;
  right: 3vw;
  background-color: rgb(61, 66, 71);
  color: #99aab5;
  padding-bottom: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 25px;
  text-align: center;
  font-size: 1vw;
}

.infoFieldClass {
  position: fixed;
  width: 40vw;
  height: 32vh;
  top: 5vh;
  left: 15vw;
  background-color: rgb(61, 66, 71);
  color: #99aab5;
  padding-bottom: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 25px;
  text-align: center;
  font-size: 1vw;
}