.styleMonth{
  background-color: rgb(61, 66, 71);
  position:fixed;
  top:5vh;
  left:15vw;
  border-radius: 25px;
  width:25vw;
  /* border:3px double gold; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.infoPlace {                
  position:fixed;
  border-radius: 25px ;
  top: 12vh;
  left: 15vw;
  width:70vw;
  height:85vh;
  background-color: rgb(61, 66, 71);      
  /* background-color: blue; */
    }
.infoPlace2 {                
  position:fixed;  
  border-radius: 25px ;
  top: 15vh;
  left: 15vw;
  width:68vw;
  margin-left: 1vw;
  
  height:80vh;
  overflow-y: scroll;
  /* background-color: red; */

    }
    .styleTimereg1 {
      width: 9vw;
      text-align: center;
      /* border-bottom: ; */
      /* max-width: 9vw; */
 
      /* float: left; */
    }
    .styleTimereg2{
      width: 9vw;
      text-align: center;
    
      /* display: flex; */
      /* flex-wrap: wrap; */
      /* position:relative; */
      /* top: 1vh; */
      /* height:75vh; */
      /* top:1vh; */
      /* left: 1vw; */
      /* width:100vw; */
      /* overflow-y: scroll; */
    
    }
    

    .projectInsightSheet {
      border-radius: 25px;
      background-color: rgb(61, 66, 71);
      position: fixed;
      left: 15vw;
      top: 5vh;
      width: 80vw;
      height: 20vh;
      color: #99aab5;
      padding-left: 0vw;
    }