.theChosenOne {
  background-color: #33393d;
  font-weight: bold;
  border-top:solid 1px #99aab5 ;
 border-bottom:solid 1px #99aab5;
}

    
.infoField4-1 {
    border-radius: 25px;
    background-color: rgb(61, 66, 71);
    position: fixed;
    left: 15vw;
    top: 5vh;
    width: 80vw;
    height: 20vh;
    color: #99aab5;
    padding-left: 0vw;
  }

.infoField4-2 {
    border-radius: 25px;
    background-color: rgb(61, 66, 71);
    position: fixed;
    left: 15vw;
    top: 30vh;
    width: 80vw;
    height: 65vh;
    color: #99aab5;
    padding-left: 0vw;
  }
  
  .infoField4-3 {
    border-radius: 25px;
    background-color: rgb(61, 66, 71);
    position: relative;
    left: 0vw;
    top: 37vh;
    width: 79vw;
    height: 55vh;
    color: #99aab5;
    padding-left: 0vw;
    color: white;
    overflow-y: scroll;
  }
  .infoContent4-1 {
    position: relative;
    /* top: 1vh; */
    left: -10vw;
    /* width: min-content;   */
    display: inline-block;
    font-size: 1.4vw;
    border-collapse: collapse;
    /* min-width: 50%; */
   
  }
  
  .infoContent4-2 {
    position: relative;
    top: 1vh;
    left: 1vw;
    width: 40vw;
    /* height: 30vh;    */
    /* overflow-y: hidden; */
    
    font-size: 1.4vw;
    /* min-width: 50%; */

   
  }

  .th4,
.td4 {
  border-collapse: collapse;
  border: 1px solid white;
  color: #99aab5;
  padding: 1px;
  font-size: 1vw;
  width: 30px;
}
.style4-1 {
  min-width: 10vw;
  max-width: 15vw;
  text-align: center;
  /* float: left;
  clear: left; */
}
.style4-2 {
  min-width: 10vw;
  text-align: center;
  border-bottom: 1px whitesmoke solid;
  border-collapse: collapse;
  

  }

.style4-3 {
  width: 15vw; 
  clear: left;
}

#whatProjectsButton {
  background-color: #99aab5;
  color: #33393d;
  width: 12vw;
  height: 10vh;
  position: relative;
  left: 60vw;
  top: 3vh;
  float: left;
  border-radius: 25px;
  text-align: center;
  font-size: 1vw;
  padding-top: 0.5vw;
 
}
    

  
    


    

    

    
    

    
