.infoField4-1 {
    border-radius: 25px;
    background-color: rgb(61, 66, 71);
    position: fixed;
    left: 15vw;
    top: 5vh;
    width: 80vw;
    height: 20vh;
    color: #99aab5;
    padding-left: 0vw;
  }

.infoField4-2 {
    border-radius: 25px;
    background-color: rgb(61, 66, 71);
    position: fixed;
    left: 15vw;
    top: 30vh;
    width: 80vw;
    height: 5vh;
    color: #99aab5;
    padding-left: 0vw;
  }
  
  .infoField4-3 {
    border-radius: 25px;
    background-color: grey;
    position: relative;
    left: 0vw;
    top: 35vh;
    width: 80vw;
    height: 60vh;
    color: #99aab5;
    padding-left: 0vw;
    color: white;
    overflow-y: scroll;
  }
  .infoContent4-1 {
    position: relative;
    /* top: 1vh; */
    left: 1vw;
    /* width: 40vw;   */
    font-size: 1.4vw;
    /* min-width: 50%; */
  }
  
  .infoContent4-2 {
    position: relative;
    top: 1vh;
    left: 1vw;
    width: 40vw;
    height: 30vh;   
    /* overflow-y: hidden; */
  
    font-size: 1.4vw;
    /* min-width: 50%; */
  }

  .th4,
.td4 {
  border-collapse: collapse;
  border: 1px solid white;
  color: #99aab5;
  padding: 1px;
  font-size: 1vw;
  width: 30px;
}
.style4-1 {
  width: 15vw;
  float: left;
  clear: left;
}
.style4-2 {
  min-width: 8vw;
  text-align: center;
  /* border: 1px solid white; */
  }

.style4-3 {
  width: 15vw; 
  clear: left;
}


    

    
  
    


    

    

    
    

    
