body {
    background-color: darkgray;
    margin: 0px;
    width:100vh;
    height:100vh;
    display:flex;
    flex-direction:row;
}

/* .header {
    background-color: red;
    text-align: center;
    height: 10vh;
    width: 100vw;
    font-size: 6vh;
} */

.sidebar{
    display:flex;
    flex-wrap:wrap;
background-color:lightgray;
border: 2px solid black;
width:15vw;
height:99vh;
float: left;

} 

.navButtons{
display:flex;
flex-wrap:wrap;
background-color:lightslategrey;
border: 2px solid aqua;
width:14vw;
height:10vh;
margin: 5px;
border-radius: 20px;
text-align: center;
font-size: large;
font-family: Verdana;
}

/* husk altid background-image:none; ellers kan du få opp bilde fra lenker etc  */
 
/* .navButtons:visited{
    background-image:none;
    background-color:gold;
    color: red;
} */
.navButtons:hover{
    display: flex;
    flex-wrap:wrap;
    background-image:none; 
    background-color:white;
    color: black;
}

.hoursRegisterSheet{
    background-color: blueviolet;
    display: block;
left:50%;
  margin-left:30vh;
  top:50%;
  margin-top:5vh;
  position: relative;
  width: 80vw;
height: 10vh; 
/* padding: 1vh; */
    
}

.hoursRegisterSheetContent{
background-color: hotpink; 

display: block;
position:absolute;
padding: 2px;


 /* font-size: 20px;       */
}
input {
    position:relative;
   
    left:80px;
    bottom:-10px;

    
     
    
}
input[type=text] {
    background-color:lawngreen;
    color: white;  
}



.hoursOverviewClass {
    float: left;
}